/* *{
  outline: solid;
} */

.end-nav {
  background-color: #1a6594;
  border-radius: .3rem;
  margin-bottom: 1vh !important;
}

.name {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: x-large;
}

.jumbotron {
  background: rgb(59,143,149);
  background: linear-gradient(122deg, rgba(59,143,149,1) 8%, rgba(168,230,250,1) 32%, rgba(127,179,255,1) 65%, rgba(22,82,118,1) 99%);
  margin-bottom: 1rem;
}

.card-shadow:hover {
  box-shadow: 0px 0px 22px -3px rgb(158, 213, 235);
}

.btn-custom {
  background-color: #a8e6fa;
}
.btn-custom:hover {
  background-color: white;
  border-style: solid;
  border-color: #a8e6fa;
  box-shadow: 0px 0px 22px -3px #a8e6fa;
}

.fab:hover {
  color: #a8e6fa;
}